<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Docente</ion-title>
    <!-- Botón de Salir en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="confirmLogout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profesor-container">
  <!-- Contenedor del código QR -->
  <div *ngIf="generatedQRCode" class="qr-container">
    <h3>Código QR para Asistencia</h3>
    <img [src]="generatedQRCode" alt="Código QR" />
  </div>

  <!-- Botón para generar el código QR en la parte inferior -->
  <ion-button expand="full" class="habilitar-qr-button" (click)="generateQRCode()">Generar Código QR</ion-button>
</ion-content>
